{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exodus -> Agency</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/agency.css' %}">
  </head>
  <body>

    <!-- Start Header -->
    <div class="header">
      <div class="overlay">
        <div class="navbar"> <!-- Start Nav Bar -->
          <div class="contain">
            <div class="logo">
              <a href="{% url 'home' %}"><img src="{% static 'photos/others/logo-2-ed.png' %}" alt=""></a>
            </div>
            <div class="clear"></div>
          </div>
        </div> <!-- End Nav Bar -->

        <div class="head-title">
          <h1>Agency Name</h1>
        </div> <!-- End Search Box -->
      </div>
    </div>
    <!-- End Header -->

    <div class="contain">
      <!-- Start Tabs Panel -->
      <div class="tabs-panel">
        <div class="prof-intro">
          <img src="{% static 'photos/others/agency-1.jpg' %}" alt="">
          <h3>agencyname</h3>
          <span><i class="fas fa-star"></i>3.8</span>
          <span><i class="fas fa-users"></i>50</span>
        </div>

        <div class="prof-tabs">
          <h3 class="active" data-id="tab1">my trips<i class="fas fa-chevron-right"></i></h3>
          <h3 data-id="tab2">my votes<i class="fas fa-chevron-right"></i></h3>
          <h3 data-id="tab3">my account<i class="fas fa-chevron-right"></i></h3>
        </div>

        <a href="#">new trip</a>
        <a href="#">new vote</a>
      </div>
      <!-- End Tabs Panel -->

      <!-- Start Tab Details -->
      <div>
        <div id="tab1" class="tab-details active">
          <div class="my-trips-tabs">
            <button class="active" data-id="history" type="button" name="button">history</button>
            <button data-id="saved" type="button" name="button">available</button>
          </div>
          <div>
            <div id="history" class="post-contain active">
              <div class="post">
                <div class="post-img">
                  <img src="{% static 'photos/header-7.jpg' %}" alt="">
                  <div class="overlay">
                    <button class="learn-more" type="button" name="button">review</button>
                  </div>
                </div>
                <div class="post-info">
                  <h2>cairo, giza</h2>
                  <h2>lucky tour</h2>
                  <h4><span>price</span> 1200</h4>
                  <h4><span>date</span> 2 / 5 / 2019</h4>
                  <h4><span>duration</span> 5 days</h4>
                  <h4><span>meals</span> fullboard</h4>

                  <h4><span><i class="fas fa-plane"></i>going</span> 35</h4>
                  <h4><span><i class="far fa-eye"></i>views</span> 80</h4>
                </div>
              </div>

              <div class="post">
                <div class="post-img">
                  <img src="{% static 'photos/header-8.jpg' %}" alt="">
                  <div class="overlay">
                    <button class="learn-more" type="button" name="button">review</button>
                  </div>
                </div>
                <div class="post-info">
                  <h2>alexandria</h2>
                  <h2>cairo overland</h2>
                  <h4><span>price</span> 350</h4>
                  <h4><span>date</span> 18 / 6 / 2019</h4>
                  <h4><span>duration</span> 2 days</h4>
                  <h4><span>meals</span> halfboard</h4>

                  <h4><span><i class="fas fa-plane"></i>going</span> 22</h4>
                  <h4><span><i class="far fa-eye"></i>views</span> 65</h4>
                </div>
              </div>

              <div class="post">
                <div class="post-img">
                  <img src="{% static 'photos/header-5.jpg' %}" alt="">
                  <div class="overlay">
                    <button class="learn-more" type="button" name="button">review</button>
                  </div>
                </div>
                <div class="post-info">
                  <h2>luxor and aswan</h2>
                  <h2>roca travel</h2>
                  <h4><span>price</span> 1800</h4>
                  <h4><span>date</span> 5 / 6 / 2019</h4>
                  <h4><span>duration</span> 7 days</h4>
                  <h4><span>meals</span> halfboard</h4>

                  <h4><span><i class="fas fa-plane"></i>going</span> 50</h4>
                  <h4><span><i class="far fa-eye"></i>views</span> 120</h4>
                </div>
              </div>
            </div>

            <div id="saved" class="post-contain">
              <div class="post">
                <div class="post-img">
                  <img src="{% static 'photos/header-4.jpg' %}" alt="">
                  <div class="overlay">
                    <button class="learn-more" type="button" name="button">learn more</button>
                  </div>
                </div>
                <div class="post-info">
                  <h2>cairo, giza</h2>
                  <h2>lucky tour</h2>
                  <h4><span>price</span> 1200</h4>
                  <h4><span>date</span> 2 / 5 / 2019</h4>
                  <h4><span>duration</span> 5 days</h4>
                  <h4><span>meals</span> fullboard</h4>

                  <h4><span><i class="fas fa-plane"></i>going</span> 35</h4>
                  <h4><span><i class="far fa-eye"></i>views</span> 80</h4>
                </div>
              </div>

              <div class="post">
                <div class="post-img">
                  <img src="{% static 'photos/header-3.jpg' %}" alt="">
                  <div class="overlay">
                    <button class="learn-more" type="button" name="button">learn more</button>
                  </div>
                </div>
                <div class="post-info">
                  <h2>alexandria</h2>
                  <h2>cairo overland</h2>
                  <h4><span>price</span> 350</h4>
                  <h4><span>date</span> 18 / 6 / 2019</h4>
                  <h4><span>duration</span> 2 days</h4>
                  <h4><span>meals</span> halfboard</h4>

                  <h4><span><i class="fas fa-plane"></i>going</span> 22</h4>
                  <h4><span><i class="far fa-eye"></i>views</span> 65</h4>
                </div>
              </div>

              <div class="post">
                <div class="post-img">
                  <img src="{% static 'photos/header-2.jpg' %}" alt="">
                  <div class="overlay">
                    <button class="learn-more" type="button" name="button">learn more</button>
                  </div>
                </div>
                <div class="post-info">
                  <h2>luxor and aswan</h2>
                  <h2>roca travel</h2>
                  <h4><span>price</span> 1800</h4>
                  <h4><span>date</span> 5 / 6 / 2019</h4>
                  <h4><span>duration</span> 7 days</h4>
                  <h4><span>meals</span> halfboard</h4>

                  <h4><span><i class="fas fa-plane"></i>going</span> 50</h4>
                  <h4><span><i class="far fa-eye"></i>views</span> 120</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab2" class="tab-details">
          <div class="post">
            <div class="post-img">
              <img src="{% static 'photos/header-11.jpg' %}" alt="">
              <div class="overlay">
                <button class="learn-more" type="button" name="button">agency page</button>
              </div>
            </div>
            <div class="post-info">
              <h2>sant catherine</h2>
              <h2>35 followers</h2>
              <div class="clear"></div>
              <p>This website helps you choose a trip that suits you from a variety of options
                in an easy and simple way that simplifies your options this website helps you
                choose a trip that suits you from a variety of options
                in an easy and simple way that simplifies your options.</p>

              <h4><span><i class="fas fa-thumbs-up"></i>40</span> interested</h4>
              <h4><span><i class="fas fa-thumbs-down"></i>15</span> not interested</h4>
            </div>
          </div>

          <div class="post">
            <div class="post-img">
              <img src="../Exodus/static/photos/header-10.jpg' %}" alt="">
              <div class="overlay">
                <button class="learn-more" type="button" name="button">agency page</button>
              </div>
            </div>
            <div class="post-info">
              <h2>taba</h2>
              <h2>45 followers</h2>
              <div class="clear"></div>
              <p>This website helps you choose a trip that suits you from a variety of options
                in an easy and simple way that simplifies your options this website helps you
                choose a trip that suits you from a variety of options
                in an easy and simple way that simplifies your options.</p>

              <h4><span><i class="fas fa-thumbs-up"></i>40</span> interested</h4>
              <h4><span><i class="fas fa-thumbs-down"></i>15</span> not interested</h4>
            </div>
          </div>

          <div class="post">
            <div class="post-img">
              <img src="../Exodus/static/photos/header-9.jpg" alt="">
              <div class="overlay">
                <button class="learn-more" type="button" name="button">agency page</button>
              </div>
            </div>
            <div class="post-info">
              <h2>sinai</h2>
              <h2>40 followers</h2>
              <div class="clear"></div>
              <p>This website helps you choose a trip that suits you from a variety of options
                in an easy and simple way that simplifies your options this website helps you
                choose a trip that suits you from a variety of options
                in an easy and simple way that simplifies your options.</p>

              <h4><span><i class="fas fa-thumbs-up"></i>40</span> interested</h4>
              <h4><span><i class="fas fa-thumbs-down"></i>15</span> not interested</h4>
            </div>
          </div>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab3" class="tab-details">
          <div class="user-info">
            <img src="../Exodus/static/photos/others/user-avatar.png" alt="">
            <form class="" action="index.html" method="post">
              <div>
                <label>Agency Name</label>
                <h3>Lucky Travel</h3>
                <input id="username" type="text" name="" value="">
                <i class="far fa-edit" data-id="username"></i>
              </div>
              <div>
                <label>bio</label>
                <h3>78</h3>
                <input id="bio" type="number" name="" value="">
                <i class="far fa-edit" data-id="age"></i>
              </div>
              <div>
                <label>address</label>
                <h3>alexandria, elagamy, abo-youssef</h3>
                <input id="address" type="text" name="" value="">
                <i class="far fa-edit" data-id="address"></i>
              </div>
              <div>
                <label>password</label>
                <h3>********</h3>
                <input id="password" type="text" name="" value="">
                <i class="far fa-edit" data-id="password"></i>
              </div>
              <div>
                <label>phone</label>
                <h3>01091118646</h3>
                <input id="phone" type="number" name="" value="">
                <i class="far fa-edit" data-id="phone"></i>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Tab Details -->
    </div>

    <div class="clear"></div>

    <!-- Start Footer -->
    <div class="footer">
      <div class="contain">
        <div class="slogan">
          <h2>exodus</h2>
          <p>This website helps you choose a trip that suits you from a variety of options
            in an easy and simple way that simplifies your options.</p>
        </div>
        <div class="contact">
          <h2>contact us</h2>
          <div class="messenger">
            <span>messenger</span>
            <p>facebook.com/exodus</p>
          </div>
          <div class="whats">
            <span>whats app</span>
            <p>+20 0120 745 3145</p>
          </div>
          <div class="email">
            <span>email</span>
            <p>exodus@yahoo.com</p>
          </div>
        </div>
        <div class="links">
          <h2>links</h2>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <div class="app">
            <a href="https://play.google.com/store" target="_blank">
            <i class="fab fa-android"></i>
            <h3>download exodus app</h3>
          </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <script src="{% static 'js/JQuery%20(v3.2.1).js' %}"></script>
    <script src="{% static 'js/jquery.skitter.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
