{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exodus -> Agencies</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{%  static 'css/agencies.css' %}">

  </head>
  <body>
  <div class="contain">
  <!-- Start Agencies -->
      <div class="agencies">
          <div class="search-vote">
                <form method='GET' action=''>
                    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search In Agencies...">
                    <button type="submit" value="Search">search</button>
                </form>
            </div>
          <div class="clear"></div>
          {% for a in agency %}
              <div class="agency-card">
                <a href="{% url 'agencies' %}/{{ a.name }}">
                  <img src="{{ a.photo_url }}" alt="">
                  <h3> {{ a.name }}</h3>
                </a>
                  {% for f in follow %}
            {% if f.agency == a.agency_id %}
                {% if f.follow %}
                    <form method="post" action="unfollow">
                    {% csrf_token %}
                        <div class="follow-btn">
                            <span>{{ a.follows_set.count }}</span>
                            <button name="btnUnfollow" type="submit" value="{{ a.agency_id }}">Unfollow</button>
                        </div>
                    </form>
                {% else %}
                    <form method="post" action="follow">
                    {% csrf_token %}
                    <div class="follow-btn">
                            <span>{{ a.follows_set.count }}</span>
                            <button name="btnFollow" type="submit" value="{{ a.agency_id }}">Follow</button>
                        </div>
                    </form>
            {% endif %}
            {% endif %}
        {% endfor %}
              </div>
          {% endfor %}

          <!-- End Agencies -->
         </div>
    </div>

  </body>
</html>
