{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exodus</title>
    <link rel="stylesheet" href="{% static 'css/skitter.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>

    <!-- Start Signup Form -->

    <div id="signup" class="modal">
      <div class="contain">
        <form method="POST" action="signup">{% csrf_token %} <!--el data 7atro7 lel server esmo eh -->
          <div class="form-head">
            <h2>create your account</h2>
            <i class="fas fa-times" onclick="document.getElementById('signup').style.display='none'"></i>
          </div>
          <div class="form-mid" >
            <input type="text" placeholder="Username" name="username" value="{{ request.POST.username }}" >
            <input type="text" placeholder="Enter Email" name="email" value="{{ request.POST.email }}">
            <input type="text" placeholder="Phone Number" name="number" required value="{{ request.POST.number }}">
            <input type="text" placeholder="City" name="city" value="{{ request.POST.city }}">
            <input type="password" placeholder="Enter Password" name="psw" required value="{{ request.POST.psw }}">
            <input type="password" placeholder="Confirm Password" name="repsw" required value="{{ request.POST.repsw }}">
            <span class="terms">by proceeding i agree to EXODUS's <a href="#">Terms & Privacy</a></span>
          </div>
          <div class="form-foot">
            <button type="submit">signup</button>
            <button type="button" onclick="document.getElementById('signup').style.display='none';
            document.getElementById('login').style.display='block'" >already have account</button>
          </div>
        </form>
      </div>
    </div>

    <!-- End Signup Form -->

    <!-- Start Login Form -->

    <div id="login" class="modal">
      <div class="contain">
        <form method="POST" action="signin">{% csrf_token %} <!--el data 7atro7 lel server esmo eh -->
          <div class='form-head'>
            <h2>please login</h2>
            <i class="fas fa-times" onclick="document.getElementById('login').style.display='none'"></i>
          </div>
          <div class="form-mid">
            <label for="name">email</label>
            <input type="text" placeholder="Enter Email" name="email" required value="{{ request.POST.email }}">
            <label for="psw">password</label>
            <input type="password" placeholder="Enter Password" name="psw" required value="{{ request.POST.psw }}">
            <span class="remember"><input type="checkbox" name="remember">Remember me </span>
            <span class="forgot"><a href="#">forgot password?</a></span>
          </div>
          <div class="form-foot">
            <button type="submit" class="btnsignup" >login</button>
            <button type="button" class="btnsignup" onclick="document.getElementById('login').style.display='none';
            document.getElementById('signup').style.display='block'" >create account</button>
          </div>
        </form>
      </div>
    </div>

    <!-- End Login Form -->

    <!-- Start Header -->
    <div class="header home-header">
      <div class="overlay">
        <div class="navbar"> <!-- Start Nav Bar -->
          <div class="contain">
            <div class="logo">
              <a href="{% url 'home' %}"><img src="{% static 'photos/others/logo-2-ed.png' %}" alt=""></a>
            </div>
            <div class="tabs">
              <ul>
                <li>
                  <a href="{% url 'home' %}">home</a>
                </li>
                <li>
                  <a href="{% url 'trips' %}">trips</a>
                </li>
                <li>
                  <a href="{% url 'votes' %}">votes</a>
                </li>
                <li>
                  <a href="{% url 'agencies' %}">agencies</a>
                </li>
                  {% if user.user_id > 0 %}
                <li class="user_name">
                  <a href="{% url 'users' %}"><img src="{% static 'photos/others/user-avatar.png' %}"></a>
                </li>
                  {% else %}
                <li class="sign_in">
                  <a onclick="document.getElementById('login').style.display='block'">sign in</a>
                </li>
                  {% endif %}
              </ul>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div> <!-- End Nav Bar -->

        <div class="head-title"> <!-- Start Head Search -->
          <div>
          <h1>explore out of limitations</h1>
          <p>This website helps you choose a trip that suits you from a variety of options<br>
            in an easy and simple way that simplifies your options.</p>
          <form action="" method="">
            <i class="fas fa-map-marker-alt"></i>
            <input type="text" name="city" value="" placeholder="Tell us where you want to go...">
            <button type="submit" name="button">search</button>
            <!-- <button class="adv-trigger" type="button" name="button">advanced search</button> -->
          </form>
          <div class="clear"></div>
          </div>
        </div> <!-- End Head Search -->
      </div>
    </div>
    <!-- End Header -->

    <!-- Start Lates Votes -->
    <div class="latest-votes">
      <div class="contain">
        <div class="outer-head">
          <h2><span>latest</span> votes</h2>
          <a href="{% url 'votes' %}" class="see-more">see more</a>
        </div>
        <div class="clear"></div>
            <a href="#">
          {% if votes.count > 0 %}
              <div class="main-vote">
            <div class="vote-img">
              <img src="{{ votes.photo_url }}" alt="">
              <div class="overlay">
                <button class="learn-more" type="button" name="button">learn more</button>
              </div>
            </div>
            <div class="vote-info">
              <div class="inner-head">
                <h3>{{ votes.name }}</h3>
                <h3>{{ votes.agency.name }}</h3>
              </div>
              <div class="clear"></div>
              <p>{{ votes.description }}</p>
              <button class="interested x" type="button"><i class="fas fa-thumbs-up"></i></button>
              <button class="notinterested y" type="button"><i class="fas fa-thumbs-down"></i></button>
              <div class="clear"></div>
            </div>
          </div>
          {% else %}
              <div class="main-vote">
                  <div class="vote-info">
                      <div class="inner-head">
                          <h3>No Votes Yet</h3>
                      </div>
                  </div>
              </div>
          {% endif %}
        </a>
      </div>
    </div>
    <!-- End Latest Votes -->

    <!-- Start Most Going Trips -->
    <div class="home-trips">
      <div class="contain">
        <div class="outer-head">
          <h2><span>most going</span> trips</h2>
          <a href="{% url 'trips' %}" class="see-more">see more</a>
        </div>
        <div class="clear"></div>
        <div class="cards">
          {% for trip in most_going %}
              <a href="#">
            <div class="trip-card">
              <div class="card-img">
                <img src="{{ trip.tripphotos_set.all.0.url }}" alt="">
                <div class="overlay">
                  <span>{{ trip.date_from }}</span>
                </div>
              </div>
              <div class="card-info">
                <h2>{{ trip.name }}</h2>
                <div class="stats">
                  <h4><i class="fas fa-plane"></i>{{ trip.goingto_set.count }}</h4>
                  <h4><i class="fas fa-eye"></i>{{ trip.views }}</h4>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Most Going Trips -->

    <!-- Start Most Followed Agencies -->
    <div class="most-followed">
      <div class="contain">
        <div class="outer-head">
          <h2><span>most followed</span> agencies</h2>
          <a href="{% url 'agency_main' %}" class="see-more">see more</a>
        </div>
        <div class="agencies">
            {% for agency in agencies %}
              <div class="agency-card">
                    <a href="{% url 'agencies' %}/{{ agency.name }}">
                  <img src="{{ agency.photo_url }}" alt="">
                  <h3>{{ agency.name }}</h3>
                </a>
                <form>
                    <button class="" type="submit" name="button">follow</button>
                </form>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <!-- End Most Followed Agencies -->

    <!-- Start Recent Trips -->
    <div class="home-trips">
      <div class="contain">
        <div class="outer-head">
          <h2><span>recent</span> trips</h2>
          <a href="{% url 'trips' %}" class="see-more">see more</a>
        </div>
        <div class="clear"></div>
        <div class="cards">
           {% for trip in most_trips %}
              <a href="#">
            <div class="trip-card">
              <div class="card-img">
                <img src="{{ trip.tripphotos_set.all.0.url }}" alt="">
                <div class="overlay">
                  <span>{{ trip.date_from }}</span>
                </div>
              </div>
              <div class="card-info">
                <h2>{{ trip.name }}</h2>
                <div class="stats">
                  <h4><i class="fas fa-plane"></i>{{ trip.goingto_set.count }}</h4>
                  <h4><i class="fas fa-eye"></i>{{ trip.views }}</h4>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Recent Trips -->

    <!-- Start Footer -->
    <div class="footer">
      <div class="contain">
        <div class="links">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.yahoo.com" target="_blank"><i class="fab fa-yahoo"></i></a>
          <div class="clear"></div>
        </div>
        <div class="copyright">
          <h3>Copyright © 2019 <span>Exodus.com</span> , All Rights Reserved.</h3>
        </div>
        <div class="andro-app">
          <div class="app">
            <a href="#" target="_blank">
              <i class="fab fa-android"></i>
              <h3>download exodus app</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <!-- Start Scroll To Top Button -->
    <div class="scroll-top">
      <span>Top</span>
      <i class="fas fa-arrow-up"></i>
    </div>
    <!-- End Scroll To Top Button -->

    <!-- Start Div Error -->
    <section>
      <h1>unfortunatly!...</h1>
      <p>this website dosen't support screen less than 400px</p>
    </section>
    <!-- End Div Error -->

    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/JQuery%20(v3.2.1).js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
