{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exodus => Trip Page</title>
    <!-- Start Skitter Slider HEAD Section -->
    <link rel="stylesheet" href="{% static 'css/skitter.css' %}" />
    <!-- End Skitter Slider HEAD Section -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/trip-page.css' %}">
  </head>
  <body>

    <!-- ///////////////////////////////////////////////////////////////////////// -->
		<div id="signup" class="modal">
			<form class="modal-content animate" action=""> <!--el data 7atro7 lel server esmo eh -->
				<div class='usercontainer'>
			        <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Form">x</span>
					<img src="../Exodus/static/photos/user.jpg'" alt="Avatar" class="avatar">
					<label> <p> Create Your Account </p></label>
				</div>
				<div class="container">
					<input type="text" name="usernamedb" placeholder=" Username" >
					<br><br>
					<input type="text" placeholder=" Enter Email" name="email" >
					<br><br>
					<input type="text" placeholder=" Phone Number" name="number" required >
					<br><br>
					<input type="text" placeholder=" Country" name="Country" required>
					<br><br>
					<input type="text" placeholder=" City" name="city" >
					<br><br>
					<input type="password" placeholder=" Enter Password" name="psw" required>
					<br><br>
					<input type="password" placeholder=" Confirm Password" name="psw" required>
					<br><br>
					<label class="terms" >  By proceeding I agree to EXODUS's <a href="#" style="color:blue">Terms & Privacy</a></label> <br>
					<button type="button" class=" btnsignup " >Submit</button> <br>
					<button type="button" class=" btnsignup " onclick="document.getElementById('signup').style.display='none';document.getElementById('loginform').style.display='block'" >Already Have Account</button> <br> <br>
				</div>
			</form>
		</div>
		<!-- ///////////////////////////////////////////////////////////////////////// -->
	  <div id="loginform" class="modal">
			<form class="modal-content animate" action=""> <!--el data 7atro7 lel server esmo eh -->
				<div class='usercontainer'>
			       <span onclick="document.getElementById('loginform').style.display='none'" class="close" title="Close Form">x</span>
				</div>
				<div class="Login">
                <br> <p> Please Login </p>
                </div>
				<div class="container">
					<label for="name"> <b>Username</b></label> <br>
					<input type="text" placeholder=" Enter Email" name="email" required>
					<br><br>
					<label for="psw"> <b>Password</b></label> <br>
					<input type="password" placeholder=" Enter Password" name="psw" required><br>
					<!--<label  class="Terms">  By proceeding I agree to EXODUS's <a href="#" style="color:blue">Terms & Privacy</a></label> <br> -->
					<!--<label class="rm"> <input type="checkbox" checked="checked" name="remember"> Remember me </label>-->
                    <span class="psw">Forgot <a href="#">password?</a></span><br>
                    <button class="btn" type="submit">Login</button><br>
					<button type="button" class=" btn " onclick="document.getElementById('loginform').style.display='none';document.getElementById('signup').style.display='block'" >Create Account</button> <br> <br>
				</div>
			</form>
		</div>
    <!-- ///////////////////////////////////////////////////////////////////////// -->

    <!-- Start Nav Bar -->
    <div class="navbar">
      <div class="contain">
        <div class="logo">
          <a href="{% url 'home' %}"><img src="{% static 'photos/others/logo-2-ed.png' %}" alt=""></a>
        </div>
        <div class="tabs">
          <ul>
            <li>
              <a href="{% url 'home' %}">home</a>
            </li>
            <li>
              <a href="{% url 'trips' %}">trips</a>
            </li>
            <li>
              <a href="{% url 'votes' %}">votes</a>
            </li>
            <li>
              <a href="{% url 'agencies' %}">agencies</a>
            </li>
            <li class="sign_in" onclick="document.getElementById('loginform').style.display='block'">
              <a>sign in</a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Nav Bar -->

    <!-- Start Skitter Slider BODY Section -->
    <div class="contain">
      <div class="skitter skitter-large with-dots">
        <ul>
          <li> <!-- Slide - 1 -->
            <a href="#cut">
              <img src="../Exodus/static/photos/header-3.jpg" class="cut" />
            </a>
          </li>
          <li> <!-- Slide - 2 -->
            <a href="#swapBarsBack">
              <img src="../Exodus/static/photos/header-7.jpg" class="swapBarsBack" />
            </a>
          </li>
          <li> <!-- Slide - 3 -->
            <a href="#paralell">
              <img src="../Exodus/static/photos/header-8.jpg" class="paralell" />
            </a>
          </li>
          <li> <!-- Slide - 4 -->
            <a href="#glassBlock">
              <img src="../Exodus/static/photos/header-9.jpg" class="glassBlock" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Skitter Slider BODY Section -->

    <!-- Start Trip Tabs -->
    <div class="contain">
      <div class="trip-tabs">
        <div class="details " data-id="details">
          description
        </div>
        <div class="reviews active" data-id="reviews">
          reviews
        </div>
        <div class="similar " data-id="similar">
          similar trips
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- End Trip Tabs -->

    <div class="contain">
      <!-- Start Trip Details -->
      <div id="details" class="trip-details ">
        <div class="stats">
          <span><i class="fas fa-plane"></i> 40 going</span>
          <span><i class="far fa-eye"></i> 400 views</span>
          <h4>roca travel</h4>
          <div class="clear"></div>
          <p>This website helps you choose a trip that suits you from a variety of options
            in an easy and simple way that simplifies your options this website helps you
            choose a trip that suits you from a variety of options in an easy and simple way that simplifies your options this website helps you
            choose a trip that suits you from a variety of options.</p>
        </div>

        <div class="info">
          <div class="info-row">
            <label for="">destination</label>
            <p>cairo, giza</p>
          </div>

          <div class="info-row">
            <label for="">date</label>
            <p>12 / 8 / 2019</p>
          </div>

          <div class="info-row">
            <label for="">duration</label>
            <p>5 days</p>
          </div>

          <div class="info-row">
            <label for="">meals</label>
            <p>full-board</p>
          </div>

          <div class="info-row">
            <label for="">price</label>
            <p>1500 l.e</p>
          </div>

          <div class="info-row">
            <label for="">deadline</label>
            <p>5 / 8 / 2019</p>
          </div>
        </div>
        <div class="trip-actions">
          <button type="button" name="button">book now</button>
          <button type="button" name="button">save</button>
        </div>
      </div>
      <!-- End Trip Details -->
      <!-- Start Trip Reviews -->
      <div id="reviews" class="trip-reviews active">
        <div class="comments">
          <div class="add-comment">
            <input type="text" name="" value="" placeholder="Leave A Comment...">
            <button type="button" name="button">comment</button>
            <div class="clear"></div>
          </div>
          <div class="comments-list">
            <div class="comment-box">
              <img src="{% static 'photos/others/user-avatar.png' %}" alt="">
              <h4>ahmed</h4>
              <span> 4 / 5 / 2019 </span>
              <div class="clear"></div>
              <div class="com-content">
                <p>This website helps you choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options this website helps you
                  choose a trip that suits you from a variety of options.</p>
              </div>
              <div class="comment-box">
                <img src="{% static 'photos/others/user-avatar.png' %}" alt="">
                <h4>roca travel</h4>
                <span> 4 / 5 / 2019 </span>
                <div class="clear"></div>
                <div class="com-content">
                  <p>This website helps you choose a trip that suits you from a variety of options
                    in an easy and simple way that simplifies your options this website helps you
                    choose a trip that suits you from a variety of options.</p>
                </div>
              </div>
            </div>
            <div class="comment-box">
              <img src="../Exodus/static/photos/others/user-avatar.png" alt="">
              <h4>mohamed</h4>
              <span> 4 / 5 / 2019 </span>
              <div class="clear"></div>
              <div class="com-content">
                <p>This website helps you choose a trip that suits you from a variety of options
                  in an easy and simple way that simplifies your options this website helps you
                  choose a trip that suits you from a variety of options.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="rating">
          <div class="stars">
            <h2>rate the trip</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average based on 254 reviews.</p>
          </div>
          <div class="row">
            <div class="side">
              <div>5 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-5"></div>
              </div>
            </div>
            <div class="side right">
              <div>150</div>
            </div>
            <div class="side">
              <div>4 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-4"></div>
              </div>
            </div>
            <div class="side right">
              <div>63</div>
            </div>
            <div class="side">
              <div>3 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-3"></div>
              </div>
            </div>
            <div class="side right">
              <div>15</div>
            </div>
            <div class="side">
              <div>2 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-2"></div>
              </div>
            </div>
            <div class="side right">
              <div>6</div>
            </div>
            <div class="side">
              <div>1 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-1"></div>
              </div>
            </div>
            <div class="side right">
              <div>20</div>
            </div>
          </div>
        </div>

      </div>
      <!-- End Trip Reviews -->
    </div>

    <!-- Start Footer -->
    <div class="footer">
      <div class="contain">
        <div class="slogan">
          <h2>exodus</h2>
          <p>This website helps you choose a trip that suits you from a variety of options
            in an easy and simple way that simplifies your options.</p>
        </div>
        <div class="contact">
          <h2>contact us</h2>
          <div class="messenger">
            <span>messenger</span>
            <p>facebook.com/exodus</p>
          </div>
          <div class="whats">
            <span>whats app</span>
            <p>+20 0120 745 3145</p>
          </div>
          <div class="email">
            <span>email</span>
            <p>exodus@yahoo.com</p>
          </div>
        </div>
        <div class="links">
          <h2>links</h2>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <div class="app">
            <a href="https://play.google.com/store" target="_blank">
            <i class="fab fa-android"></i>
            <h3>download exodus app</h3>
          </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <script src="{% static 'js/JQuery%20(v3.2.1).js' %}"></script>
    <script src="{% static 'js/jquery.skitter.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
