{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
  </head>
  <body>

    <div class="contain">
      <!-- Start Tabs Panel -->
      <div class="tabs-panel">
        <div class="prof-intro">
          <img src="{{ user.photo_url }}" alt="">
          <h3>{{ user.name }}</h3>
        </div>

        <div class="prof-tabs">
          <button class="active" type="submit" data-id="tab1">trips</button>
          <button type="submit" data-id="tab2">agencies</button>
          <button type="submit" data-id="tab3">account</button>
        </div>

        <a href="{% url 'signout' %}">sign out</a>
      </div>
      <!-- End Tabs Panel -->

      <!-- Start Tab Details -->
      <div>
        <div id="tab1" class="tab-details active">
          <div class="my-trips-tabs">
            <form data-id="history" class="active"><button type="button" name="button">history</button></form>
            <form data-id="saved"><button type="button" name="button">available</button></form>
          </div>
          <div>
            <div id="history" class="post-contain active">

                {% for trip in trips %}
                    <a href="trip-page.html">
                    <div class="post">
                  <div class="post-img">
                    <img src="{{ trip.trip.tripphotos_set.0 }}" alt="">
                    <div class="overlay">
                      <button class="learn-more" type="button" name="button">review</button>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>{{ trip.trip.name }}</h2>
                    <h2>{{ trip.trip.agency.name }}</h2>
                    <h4><span>price</span>{{ trip.trip.price }}</h4>
                    <h4><span>date</span>{{ trip.trip.date_from| date:'d/n/Y' }}</h4>
                    <h4><span>duration</span> 5 days</h4>
                    <h4><span>meals</span>{{ trip.trip.meals }}</h4>

                    <h4><span><i class="fas fa-plane"></i>going</span>{{ trip.trip.goingto_set.count }}</h4>
                    <h4><span><i class="far fa-eye"></i>views</span>{{ trip.trip.views }}</h4>
                  </div>
                </div>
                    </a>
                {% endfor %}

            </div>

            <div id="saved" class="post-contain">
              <a href="trip-page.html">
                <div class="post">
                  <div class="post-img">
                    <img src="photos/header-4.jpg" alt="">
                    <div class="overlay">
                      <button class="learn-more" type="button" name="button">learn more</button>
                    </div>
                  </div>
                  <div class="post-info">
                    <h2>cairo, giza</h2>
                    <h2>lucky tour</h2>
                    <h4><span>price</span> 1200</h4>
                    <h4><span>date</span> 2 / 5 / 2019</h4>
                    <h4><span>duration</span> 5 days</h4>
                    <h4><span>meals</span> fullboard</h4>

                    <h4><span><i class="fas fa-plane"></i>going</span> 35</h4>
                    <h4><span><i class="far fa-eye"></i>views</span> 80</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab2" class="tab-details">
          <div class="search-agency">
            <input type="text" name="" value="" placeholder="Search In Agencies...">
            <button type="button" name="button">search</button>
          </div>

            {% for agency in agencies %}
                <a href="{% url 'agencies' %}/{{ agency.agency.name }}">
                <div class="post">
              <div class="post-img">
                <img src="{{ agency.agency.photo_url }}" alt="">
                <div class="overlay">
                  <button class="learn-more" type="button" name="button">agency page</button>
                </div>
              </div>
              <div class="post-info">
                <h2>{{ agency.agency.name }}</h2>
                <h2>{{ agency.user.follows_set.count }} followers</h2>
                <div class="clear"></div>
                <p>{{ agency.agency.bio }}</p>

                <h4><span><i class="fas fa-star"></i>rating</span>{{ agency.agency.rate }}</h4>
                <h4><span><i class="fas fa-plane"></i>trips</span>{{ agency.agency.trips_set.count }}</h4>
              </div>
            </div>
            </a>
            {% endfor %}



        </div>
        <!-- //////////////////////////////////// -->
        <div id="tab3" class="tab-details">
          <div class="user-info">
            <img src="photos/others/user-avatar.png" alt="">
            <form class="" action="index.html" method="post">
              <div>
                <label>username</label>
                <h3>{{ user.name }}</h3>
              </div>
              <div>
                <label>City</label>
                <h3>{{ user.city }}</h3>
              </div>
              <div>
                <label>phone</label>
                <h3>{{ user.phone }}</h3>
              </div>
            </form>
            <button type="button" onclick="document.getElementById('edit-info').style.display='block'">edit</button>
            <button type="button" onclick="document.getElementById('delete-confirm').style.display='block'">delete account</button>
          </div>
        </div>
      </div>
      <!-- End Tab Details -->
    </div>

    <div class="clear"></div>

    <script src="{%  static 'js/JQuery%20(v3.2.1).js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
