<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exodus => Vote Page</title>
    <!-- Start Skitter Slider HEAD Section -->
    <link rel="stylesheet" href="{% static 'css/skitter.css' %}" />
    <!-- End Skitter Slider HEAD Section -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/exo-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/vote-page.css' %}">
  </head>
  <body>

    <!-- ///////////////////////////////////////////////////////////////////////// -->
		<div id="signup" class="modal">
			<form class="modal-content animate" action=""> <!--el data 7atro7 lel server esmo eh -->
				<div class='usercontainer'>
			        <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Form">x</span>
					<img src="../Exodus/static/photos/user.jpg" alt="Avatar" class="avatar">
					<label> <p> Create Your Account </p></label>
				</div>
				<div class="container">
					<input type="text" name="usernamedb" placeholder=" Username" >
					<br><br>
					<input type="text" placeholder=" Enter Email" name="email" >
					<br><br>
					<input type="text" placeholder=" Phone Number" name="number" required >
					<br><br>
					<input type="text" placeholder=" Country" name="Country" required>
					<br><br>
					<input type="text" placeholder=" City" name="city" >
					<br><br>
					<input type="password" placeholder=" Enter Password" name="psw" required>
					<br><br>
					<input type="password" placeholder=" Confirm Password" name="psw" required>
					<br><br>
					<label class="terms" >  By proceeding I agree to EXODUS's <a href="#" style="color:blue">Terms & Privacy</a></label> <br>
					<button type="button" class=" btnsignup " >Submit</button> <br>
					<button type="button" class=" btnsignup " onclick="document.getElementById('signup').style.display='none';document.getElementById('loginform').style.display='block'" >Already Have Account</button> <br> <br>
				</div>
			</form>
		</div>
		<!-- ///////////////////////////////////////////////////////////////////////// -->
	  <div id="loginform" class="modal">
			<form class="modal-content animate" action=""> <!--el data 7atro7 lel server esmo eh -->
				<div class='usercontainer'>
			       <span onclick="document.getElementById('loginform').style.display='none'" class="close" title="Close Form">x</span>
				</div>
				<div class="Login">
                <br> <p> Please Login </p>
                </div>
				<div class="container">
					<label for="name"> <b>Username</b></label> <br>
					<input type="text" placeholder=" Enter Email" name="email" required>
					<br><br>
					<label for="psw"> <b>Password</b></label> <br>
					<input type="password" placeholder=" Enter Password" name="psw" required><br>
					<!--<label  class="Terms">  By proceeding I agree to EXODUS's <a href="#" style="color:blue">Terms & Privacy</a></label> <br> -->
					<!--<label class="rm"> <input type="checkbox" checked="checked" name="remember"> Remember me </label>-->
                    <span class="psw">Forgot <a href="#">password?</a></span><br>
                    <button class="btn" type="submit">Login</button><br>
					<button type="button" class=" btn " onclick="document.getElementById('loginform').style.display='none';document.getElementById('signup').style.display='block'" >Create Account</button> <br> <br>
				</div>
			</form>
		</div>
    <!-- ///////////////////////////////////////////////////////////////////////// -->

    <!-- Start Nav Bar -->
    <div class="navbar">
      <div class="contain">
        <div class="logo">
          <a href="home.html"><img src="../Exodus/static/photos/others/logo-2-ed.png" alt=""></a>
        </div>
        <div class="tabs">
          <ul>
            <li>
              <a href="{% url 'home' %}">home</a>
            </li>
            <li>
              <a href="{% url 'trips' %}">trips</a>
            </li>
            <li>
              <a href="{% url 'votes' %}">votes</a>
            </li>
            <li>
              <a href="{% url 'agencies' %}">agencies</a>
            </li>
            <li class="sign_in" onclick="document.getElementById('loginform').style.display='block'">
              <a>sign in</a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Nav Bar -->

    <!-- Start Skitter Slider BODY Section -->
    <div class="contain">
      <div class="skitter skitter-large with-dots">
        <ul>
          <li> <!-- Slide - 1 -->
            <a href="#cut">
              <img src="../Exodus/static/photos/header-4.jpg" class="cut" />
            </a>
          </li>
          <li> <!-- Slide - 2 -->
            <a href="#swapBarsBack">
              <img src="../Exodus/static/photos/header-10.jpg" class="swapBarsBack" />
            </a>
          </li>
          <li> <!-- Slide - 3 -->
            <a href="#paralell">
              <img src="../Exodus/static/photos/header-11.jpg" class="paralell" />
            </a>
          </li>
          <li> <!-- Slide - 4 -->
            <a href="#glassBlock">
              <img src="../Exodus/static/photos/header-12.jpg" class="glassBlock" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Skitter Slider BODY Section -->

    <!-- Start Trip Details -->
    <div class="contain">
      <div class="trip-details">
        <div class="stats">
          <span><i class="fas fa-plane"></i> 40 going</span>
          <span><i class="far fa-eye"></i> 400 views</span>
          <h4>roca travel</h4>
          <div class="clear"></div>
          <h3>wady elnatroon</h3>
          <p>This website helps you choose a trip that suits you from a variety of options
            in an easy and simple way that simplifies your options this website helps you
            choose a trip that suits you from a variety of options in an easy and simple way that simplifies your options this website helps you
            choose a trip that suits you from a variety of options.</p>
        </div>

        <div class="trip-actions">
          <button type="button" name="button"><span>70</span><i class="fas fa-thumbs-up"></i>interested</button>
          <button type="button" name="button"><span>30</span><i class="fas fa-thumbs-down"></i>notinterested</button>
        </div>
      </div>
    </div>
    <!-- End Trip Details -->

    <!-- Start Footer -->
    <div class="footer">
      <div class="contain">
        <div class="slogan">
          <h2>exodus</h2>
          <p>This website helps you choose a trip that suits you from a variety of options
            in an easy and simple way that simplifies your options.</p>
        </div>
        <div class="contact">
          <h2>contact us</h2>
          <div class="messenger">
            <span>messenger</span>
            <p>facebook.com/exodus</p>
          </div>
          <div class="whats">
            <span>whats app</span>
            <p>+20 0120 745 3145</p>
          </div>
          <div class="email">
            <span>email</span>
            <p>exodus@yahoo.com</p>
          </div>
        </div>
        <div class="links">
          <h2>links</h2>
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <div class="app">
            <a href="https://play.google.com/store" target="_blank">
            <i class="fab fa-android"></i>
            <h3>download exodus app</h3>
          </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- End Footer -->

    <script src="{% static 'js/JQuery%20(v3.2.1).js' %}"></script>
    <script src="{% static 'js/jquery.skitter.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
