
/* Start Header */
.header{
  background-image: url(../photos/header-5.jpg);
  background-size: cover;
  background-position: 50% 70%;
  position: relative;
}
.header .overlay{
  background-color: #1d1d1dc7
}

.header .navbar{ /* Start Nav Bar */
  overflow: hidden;
  padding-top: 20px;
}
.header .navbar .contain > div{
  overflow: hidden;
  text-align: center;
  float: none;
  margin: 0 auto;
}
.header .navbar .contain .logo img{
  height: 55px;
}

.header .head-title{ /* Start Search Header */
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(163, 163, 163, 0.28);
}
.header .head-title h1{
  text-transform: capitalize;
  color: #eee;
  font-size: 40px;
  padding: 0 20px;
  border-radius: 15px;
  margin: 10px 0;
}
/* End Header */

/* Start Tabs Panel */
.tabs-panel{
  float: left;
  width: 23%;
  background: #eee;
  box-shadow: 0px 0px 10px 0px #bbb;
  margin-top: 30px;
  border-radius: 10px;
}
.tabs-panel .prof-intro{
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
  padding: 8px 10px;
}
.tabs-panel .prof-intro img{
  border-radius: 50%;
  width: 100%;
  height: 150px;
  box-shadow: 2px 4px 10px 0px #bbb;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.tabs-panel .prof-intro img:hover{
  box-shadow: 2px 4px 10px 0px #999;
}
.tabs-panel .prof-intro h3{
 color: #333;
 text-align: center;
 text-transform: capitalize;
 font-size: 20px;
}
.tabs-panel .prof-intro span{
  color: #888;
  font-size: 19px;
  float: left;
  width: 50%;
  margin: 10px 0 0 0;
  text-align: center;
  transition: all .20s ease-in-out;
}
.tabs-panel .prof-intro span:hover{
  color: var(--main-color);
}
.tabs-panel .prof-intro span i{
  font-size: 19px;
  margin-right: 8px;
}

.tabs-panel .prof-tabs{
  overflow: hidden;
}
.tabs-panel .prof-tabs h3{
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-size: 19px;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.tabs-panel .prof-tabs h3 i{
  display: none;
  color: #333;
}
.tabs-panel .prof-tabs h3:hover{
  background-color: #ddd;
}
.tabs-panel .prof-tabs .active{
  background-color: #ddd;
}
.tabs-panel .prof-tabs .active i{
  display: inline-block;
  float: right;
  margin-right: 15px;
}

.tabs-panel a:first-of-type{
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}
.tabs-panel a{
  color: #eee;
  background-color: var(--main-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 19px;
  font-weight: 600;
  padding: 10px 0;
  cursor: pointer;
  display: block;
  border-radius: 0 0 10px 10px;
  transition: all 0.25s ease-in-out;
}
.tabs-panel a:hover{
  background-color: #1869b1;
}
/* End Tabs Panel */

/* Start Trips */
.tab-details{
  float: left;
  width: 75%;
  margin-left: 2%;
  overflow: hidden;
  padding: 0 20px;
  background: #eee;
  box-shadow: 0px 0px 10px 0px #bbb;
  margin-top: 30px;
  border-radius: 10px;
  display: none;
}
.active{
  display: block;
}
.tab-details .my-trips-tabs{
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #bbb;
}
.tab-details .my-trips-tabs button{
  width: 50%;
  float: left;
  border: none;
  border-radius: 0 8px 8px 0;
  background: #bbb;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  padding: 6px 0;
  border-left: 1px solid #fff;
  transition: all 0.25s ease-in-out;
}
.tab-details .my-trips-tabs button:first-of-type{
  border-radius: 8px 0 0 8px;
  border-right: 1px solid #fff;
}
.tab-details .my-trips-tabs button:hover{
  background-color: var(--main-color);
  color: #eee
}
.tab-details .my-trips-tabs .active{
  background-color: var(--main-color);
  color: #eee
}

.tab-details .post-contain{
  display: none;
}
.tab-details .active{
  display: block;
}
.tab-details .post{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #aaa;
  margin: 20px 0;
}
.tab-details .post .post-img{
  width: 35%;
  height: 180px;
  float: left;
  display: inline-block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  position: relative;
}
.tab-details .post .post-img img{
  width: 100%;
  height: 100%;
}
.tab-details .post .post-img .overlay{
  display: none;
  transition: all 0.25s ease-in-out;
}
.tab-details .post:hover .overlay{
  display: inline-block;
}
.tab-details .post .post-img .overlay .learn-more{
  float: left;
  position: relative;
  top: 80px;
  left: 75px;
  padding: 8px 12px;
  text-transform: capitalize;
  font-size: 16px;
  background: var(--main-color);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  width: 44%;
  transition: all 0.25s ease-in-out;
}
.tab-details .post .post-img .overlay .learn-more:hover{
  background: #1869b1;
}

.tab-details .post .post-info{
  float: left;
  width: 65%;
  padding-left: 20px;
}
.tab-details .post .post-info h2{
  float: left;
  width: 48%;
  margin: 10px 0;
  padding-bottom: 8px;
  text-transform: capitalize;
  font-weight: 600;
  border-bottom: 2px solid #aaa;
  color: #333;
}
.tab-details .post .post-info h2:nth-of-type(2){
  text-align: right;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 12px;
}
.tab-details .post .post-info p{
  font-weight: 500;
  line-height: 1.3;
  color: #555;
  height: 65px;
  overflow: hidden;
  width: 96%;
  margin-bottom: 10px;
}
.tab-details .post .post-info h4{
  float: left;
  width: 47%;
  margin: 0 12px 8px 0;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid var(--main-color);
  border-radius: 8px;
}
.tab-details .post .post-info h4 span{
  background-color: var(--main-color);
  color: #eee;
  margin-right: 10px;
  width: 40%;
  padding: 5px 8px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}
.tab-details .post .post-info h4 span i{
  margin-right: 10px;
}

.tab-details .user-info{
  width: 95%;
  margin: 10px auto;
  padding: 5px 0;
  text-align: center;
}
.tab-details .user-info img{
  width: 30%;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin: 15px;
  box-shadow: 2px 4px 10px 0px #bbb;
  transition: all 0.25s ease-in-out;
}
.tab-details .user-info img:hover{
  box-shadow: 2px 4px 10px 0px #999;
}
.tab-details .user-info form{
  text-align: left;
  margin: 15px 0;
  overflow: hidden;
}
.tab-details .user-info form > div{
  padding: 20px 0;
  overflow: hidden;
  border-top: 1px solid #ccc;
  transition: all 0.25s ease-in-out;
}
.tab-details .user-info form div:hover{
  background-color: #ddd;
}
.tab-details .user-info form label{
  width: 15%;
  text-transform: capitalize;
  font-weight: 700;
  color: #333;
  display: inline-block;
  margin: 0 2%;
  font-size: 20px;
  float: left;
}
.tab-details .user-info form h3{
  width: 70%;
  margin: 0 2%;
  text-transform: capitalize;
  font-weight: 700;
  color: #333;
  display: inline-block;
  font-size: 20px;
  float: left;
}
.tab-details .user-info form input{
  width: 40%;
  margin: 0 auto;
  padding: 2px 5px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 0px #bbb;
  display: none;
  float: left;
}
.tab-details .user-info form i{
  width: 3%;
  font-size: 22px;
  cursor:pointer;
  float: right;
  margin: 0 2%;
  color: transparent;
  transition: all 0.25s ease-in-out;
}
.tab-details .user-info form > div:hover i{
  color: var(--main-color);
}
.tab-details .user-info form .active{
  display: inline-block;
}
/* End Trips */
