/* Start Login, Signup Forms */
.modal .modal-contentlogin{
  border-radius: 5px ;
  background: linear-gradient(to bottom,  #4561ab 0%, #669999 100%);
  width:fit-content;
  height:fit-content;
  box-sizing: border-box;
  position:fixed;
  top:25%;
  left:35%;
  width:30%;
}
.modal p{
  color: white;
  font-size: 30px;
  text-align: center;
}
.modal input [type=text],
.modal input [type=password]{
  width: 100%;
  padding:12px 20px;
  margin: 8px;
  display: inline-block;
  border:1px solid #ccc;
  box-sizing: border-box;
}
.modal label{
  font-size: 20px;
  color: darkgrey;
}
.modal .rm{
  margin:8px ;
  font-size: 15px;
}
.modal .psw{
  font-size: 15px;
  margin: 20px 0;
  float: right;

}
/* Set a style for all buttons */
.modal button {
  background-color: inherit;
  color: white;
  padding: 15px 25px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: auto;
  right: 25%;
  top: 1%;
  font-size: larger;
  border-radius: 8px;
}
.modal button:hover {
  opacity: 0.8;
  color: #55afff; /*el loon el maktob beh abl ma 2o2af 3alih*/
  background-color: rgba(163, 163, 163, 0.28);
}
.modal button.active {
  background-color: rgba(163, 163, 163, 0.28); /*el loon lama bo2af 3alih*/
  color: #55afff;
  border-radius:8px;
}
.modal .btn{
  background:linear-gradient(to bottom, #479ed1 0%, #66ccff 100%);
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  display: block;
  border: none;
  cursor: pointer;
  width:350px;
  border-radius: 10px;
}

.modal .btn:hover {
  opacity: 0.8;
  color: white;
}
.modal .usercontainer{
  text-align: center;
  margin: 15px 0 3px 0;
  position: relative;
}
.modal input{
  width:98%;
  height:40px;
  border-radius:5px;
  font-size:15px;
}
.modal img.avatar{
  width:30%;
  border-radius: 50%;
}
.modal .container{
  padding: 16px;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* el background barra el popup lama btft7 */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal .modal-content {
  background: linear-gradient(to bottom,  #4561ab 0%, #669999 100%);
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 35%;
  height: auto;
}
.modal .btnsignup{
  background:linear-gradient(to bottom, #479ed1 0%, #66ccff 100%);
  color: white;
  padding: 14px 20px;
  margin: 8px 40px ;
  border: none;
  cursor: pointer;
  width:350px;
  border-radius: (10px 0%);
}

.modal .btnsignup:hover {
  opacity: 0.8;
  color: white;
}
/* The Close Button (x) */
.modal .close {
  position: absolute;
  right: 25px;
  top: -15px;
  font-size: 40px;
  font-weight: bold;
  color: black ;
}

.modal .close:hover,
.modal .close:focus {
  color: #f44336;
  cursor: pointer;
}

.modal .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.modal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.modal .terms{
  font-size: 15px;
  margin: 35px;
  color: black;
}
/* End Login, Signup Forms */

/* Start Header */
.header{
  background-image: url(../photos/header-5.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.header .overlay{
  background-color: #1d1d1dc7
}

.header .navbar{ /* Start Nav Bar */
  overflow: hidden;
  padding-top: 20px;
}
.header .navbar .contain > div{
  float: left;
  overflow: hidden;
}
.header .navbar .contain .logo{
  width: 50%;
}

.header .navbar .contain .logo img{
  height: 55px;
}

.header .navbar .contain .tabs{
  width: 50%;
}
.header .navbar .contain .tabs ul li{
  float: left;
  margin: 4px 2px;
  width: 19%;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.header .navbar .contain .tabs ul .sign_in a{
  background-color: #fff;
  color: #55afff;
  border: 2px solid #3898ec;

}
.header .navbar .contain .tabs ul .sign_in a:hover{
  background-color: var(--main-color);
  color: #fff;
}
.header .navbar .contain .tabs ul li:hover a{
  background-color: rgba(163, 163, 163, 0.28);
  color: #55afff;
}
.header .navbar .contain .tabs ul li a{
  font-size: 17px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 0;
  width: 100%;
  display: block;
  transition: all 0.25s ease-in-out;
} /* End Nav Bar */

/* Start Footer */
.footer{
  overflow: hidden;
  background: #eee;
  border-top: 1px solid #bbb;
  margin-top: 50px;
}
.footer .slogan{
  float: left;
  width: 33.33%;
}
.footer .slogan h2{
  text-transform: capitalize;
  text-align: center;
  width: 28%;
  padding: 5px;
  margin: 5px auto;
  color: #333;
  font-size: 26px;
  border-bottom: 2px solid #333;
}
.footer .slogan p{
  font-weight: 500;
  line-height: 1.7;
  color: #555;
  text-align: center;
  margin: 10px;
  padding: 0 15px;
}

.footer .contact{
  float: left;
  width: 33.33%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #bbb;
  padding-bottom: 30px;
}
.footer .contact h2{
  text-transform: capitalize;
  text-align: center;
  width: 40%;
  padding: 5px;
  margin: 5px auto 18px;
  color: #333;
  font-size: 26px;
  border-bottom: 2px solid #333;
}
.footer .contact div{
  margin-top: 12px;
  overflow: hidden;
  padding: 0 25px;
}
.footer .contact span{
  font-weight: 500;
  text-transform: capitalize;
  background: var(--main-color);
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  color: #eee;
}
.footer .contact .whats span{
  background-color: #24c42e;
}
.footer .contact .email span{
  background-color: #8223b6;
}
.footer .contact p{
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
}

.footer .links{
  float: left;
  width: 33.33%;
  text-align: center;
}
.footer .links h2{
  text-transform: capitalize;
  text-align: center;
  width: 22%;
  padding: 5px;
  margin: 5px auto;
  color: #333;
  font-size: 26px;
  border-bottom: 2px solid #333;
}
.footer .links a{
  margin: 7px 5px 3px;
  overflow: hidden;
  display: inline-block;
}
.footer .links a i{
  color: #999;
  font-size: 35px;
  transition: all 0.25s ease-in-out;
}
.footer .links a .fa-facebook-square:hover{
  color: #4267b2;
}
.footer .links a .fa-twitter-square:hover{
  color: #1da1f3;
}
.footer .links .app{
  margin: 10px auto;
  width: 265px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 0px #aaa;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}
.footer .links .app:hover{
  border-color: #a4c639;
  box-shadow: none;
}
.footer .links .app a{
  margin: 0;
  padding: 5px;
}
.footer .links .app a i{
  font-size: 50px;
  float: left;
  color: #a4c639;
}
.footer .links .app a h3{
  display: inline-block;
  text-transform: capitalize;
  margin-left: 8px;
  float: right;
  margin-top: 15px;
  color: #333;
}

/* End Footer */

/*
 *
 *
 *
 *
 *
 *
 *
 *
 */

/* Generals */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{ /* Variables */
  --main-color: #3898ec;
  --hover-color: #1869b1;
  font-family: 'Exo 2', Arial, Tahoma;
}

.contain{
  margin: 0 auto;
  width: 1100px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1d1d1d80;
}

.clear{
  clear: both;
}

input, button:focus{
  outline: none;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  overflow: hidden;
}
