
.header .head-title{ /* Start Search Header */
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(163, 163, 163, 0.28);
}
.header .head-title h1{
  text-transform: capitalize;
  color: #eee;
  font-size: 40px;
  padding: 0 20px;
  border-radius: 15px;
  margin: 10px 0;
}
/* End Header */

/* Start Votes */
.votes{
  margin-top: 30px;
  background-color: #eee;
  padding: 0 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #bbb;
  overflow: hidden;
}
.votes .main-vote{
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px #888;
}
.votes .main-vote .vote-img{
  width: 30%;
  height: 230px;
  float: left;
  display: inline-block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  position: relative;
}
.votes .main-vote .vote-img img{
  width: 100%;
  height: 100%;
}
.votes .main-vote .vote-img .overlay{
  display: none;
  transition: all 0.25s ease-in-out;
}
.votes .main-vote .vote-img .overlay .learn-more:hover{
  background: #1869b1;
}
.votes .main-vote .vote-img .overlay .learn-more{
  float: left;
  position: relative;
  top: 100px;
  left: 115px;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 17px;
  background: var(--main-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #eee;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
.votes .main-vote:hover .overlay{
    display: inline-block;

}
.votes .main-vote .vote-info{
  display: inline-block;
  float: left;
  width: 70%;
}
.votes .main-vote .vote-info .inner-head{
  overflow: hidden;
  margin: 20px;
}
.votes .main-vote .vote-info .inner-head h3{
  float: left;
  text-transform: capitalize;
  border-bottom: 2px solid #333;
  padding: 5px 1px;
  color: #333;
}
.votes .main-vote .vote-info .inner-head h3:nth-of-type(2){
  float: right;
}
.votes .main-vote .vote-info p{
  margin: 0 20px;
  font-weight: 500;
  color: #555;
  line-height: 1.5;
}
.votes .main-vote .vote-info span{
  text-transform: capitalize;
  float: left;
  color: #eee;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  min-width: 15%;
  max-width: 85%;
  width: 70%;
  margin-top: 20px;
  padding: 10px 10px;
  background: #09ad09;
  position: relative;
  bottom: -26px;
}
.votes .main-vote .vote-info span:nth-of-type(2){
  background: #d00303;
  width: 30%;
  text-align: right;
}
.votes .main-vote .vote-info span i{
  margin: 0 10px;
}
/* End Votes */
